<h1>
kitHub / Home
<a id="star">Star</a>
</h1>
<div class="main">
    <article>
        <div class="desc">
            kitHubのメインページです。
        </div>
        ・<a href="http://web.kitit.ml/">kitのホームページ</a>
    </article>
</div>
