<h1>
kitHub / Home
<a id="star">Star</a>
</h1>
<div class="main">
    <article>
        <div class="desc">
            kitHubのメインページです。
        </div>
        kitHub ベータ版 v0.1.1へようこそ。<br>
        ・<%= link_to("kitHubアプリの一覧", apps_path) %> アプリケーションの一覧です<br>
        ・<%= link_to("kitHubにアプリを投稿する", new_app_path) %> 自身のアプリをkitHubに追加できます<br>
        ・<a href="http://web.kitit.ml/">kitのホームページ(リンク)</a> kit Desktop Systemのホームページです<br>
        ・<a href="https://kitdev.home.blog/">kitブログ(リンク)</a> kitの開発ブログです<br>
        <%= image_tag("banner.png", class: "image") %><br>
        kitHubはベータ版です。以下のような機能は今後のデータベースの移行を伴う大きなアップデートによって実装される予定です。<br>
        ・ユーザーアカウントによるアプリケーションの管理機能<br>
        ・テーマファイルのアップロードとダウンロード<br>
        ・define.jsonからのアプリケーション情報の自動読み込み<br>
        ・バージョン情報の登録機能<br>
        ・kitHubAPIの整備とkitシステムへの自動インストール<br>
        Star機能について<br>
        　アプリケーションのページでStarを押すと登録できます。1件のみ登録でき、すでに登録されているものは上書きされます。<br>
        　登録するとフッターからアクセスできるようになります(turbolinksによってすぐに反映されない場合があります)。動作が不安定なため、今後のアップデートで改善もしくは機能削除予定です。<br>
        既知の不具合<br>
        ・アプリケーションのデータを編集で更新するとデータが損失する
    </article>
</div>
