<h1>
kitHub / Home
<a id="star">Star</a>
</h1>
<div class="main">
    <article>
        <div class="desc">
            kitHubのメインページです。
        </div>
        ・<%= link_to("kitHubアプリの一覧", apps_path) %> アプリケーションの一覧です<br>
        ・<a href="http://web.kitit.ml/">kitのホームページ</a> kit Desktop Systemのホームページです
    </article>
</div>
