<h1>
<%= @title = "アプリの編集" %>
<a id="star">Star</a>
</h1>

<div class="main">
  <article>
    <%= link_to("アプリのページへ戻る", "/apps/"+@app.appid) %>
    <%= render "form", app: @app %>
  </article>
</div>
