<p id="notice"><%= notice %></p>
<% @title = "エラー" %>

<h1>
kitHub / error
<a id="star">Star</a>
</h1>

<div class="main">
  <article>
    <div class="app-name">見つかりません</div>
    <div class="desc">アプリケーションが削除されたか、存在しません。</div>
  </article>
</div>
